<footer class="footer">
    <p class="footer__copy">
        Веб-стандарты, 2006–2019
    </p>
    <ul class="footer__pages">
        <li><a class="footer__link" href="/articles/">Статьи</a></li>
        <li><a class="footer__link footer__link--disable">Конференция</a></li>
        <li><a class="footer__link footer__link--disable">Календарь</a></li>
        <li><a class="footer__link footer__link--disable">Подкаст</a></li>
        <li><a class="footer__link footer__link--disable">О проекте</a></li>
        <li><a class="footer__link footer__link--disable">Поддержать проект</a></li>
    </ul>
    <p class="footer__design">
        Дизайн сайта: <a class="footer__link" href="">Игорь Штанг</a>
    </p>
</footer>
